<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="DbInfoDO" type="com.wangyin.wycds.web.dal.dataobject.DbInfoDO"/>
        <typeAlias alias="DbHostGroupDO" type="com.wangyin.wycds.web.dal.dataobject.DbHostGroupDO"/>
        <typeAlias alias="DbMonitorDO" type="com.wangyin.wycds.web.dal.dataobject.DbMonitorDO"/>
        <typeAlias alias="DbMonitorInstanceDO" type="com.wangyin.wycds.web.dal.dataobject.DbMonitorInstanceDO"/>
        <typeAlias alias="DbEventDO" type="com.wangyin.wycds.web.dal.dataobject.DbEventDO"/>
        <typeAlias alias="ResourcesCategoryDO" type="com.wangyin.wycds.web.dal.dataobject.ResourcesCategoryDO"/>
        <typeAlias alias="DbGroupDO" type="com.wangyin.wycds.web.dal.dataobject.DbGroupDO"/>
        <typeAlias alias="DbClusterDO" type="com.wangyin.wycds.web.dal.dataobject.DbClusterDO"/>
        <typeAlias alias="DataSourceDO" type="com.wangyin.wycds.web.dal.dataobject.DataSourceDO"/>
        <typeAlias alias="DbClusterDbGroupRelationDO" type="com.wangyin.wycds.web.dal.dataobject.DbClusterDbGroupRelationDO"/>
        <typeAlias alias="DbInfoDbGroupRelationDO" type="com.wangyin.wycds.web.dal.dataobject.DbInfoDbGroupRelationDO"/>
        <typeAlias alias="SplittingKeyDO" type="com.wangyin.wycds.web.dal.dataobject.SplittingKeyDO"/>
        <typeAlias alias="ColumnInfoDO" type="com.wangyin.wycds.web.dal.dataobject.ColumnInfoDO"/>
        <typeAlias alias="DepotsTableRulesDO" type="com.wangyin.wycds.web.dal.dataobject.DepotsTableRulesDO"/>
        <typeAlias alias="SplittingKeyRuleRelationDO" type="com.wangyin.wycds.web.dal.dataobject.SplittingKeyRuleRelationDO"/>
        <typeAlias alias="AppDO" type="com.wangyin.wycds.web.dal.dataobject.AppDO"/>
    </typeAliases>
    <mappers>
        <mapper resource="/persistence/DbInfoDAO.xml"/>
        <mapper resource="/persistence/DbHostGroupDAO.xml"/>
        <mapper resource="/persistence/DbMonitorDAO.xml"/>
        <mapper resource="/persistence/DbMonitorInstanceDAO.xml"/>
        <mapper resource="/persistence/DbEventDAO.xml"/>
        <mapper resource="/persistence/ResourcesCategoryDAO.xml"/>
        <mapper resource="/persistence/DbGroupDAO.xml"/>
        <mapper resource="/persistence/DbClusterDAO.xml"/>
        <mapper resource="/persistence/DataSourceDAO.xml"/>
        <mapper resource="/persistence/DbClusterDbGroupRelationDAO.xml"/>
        <mapper resource="/persistence/DbInfoDbGroupRelationDAO.xml"/>
        <mapper resource="/persistence/SplittingKeyDAO.xml"/>
        <mapper resource="/persistence/ColumnInfoDAO.xml"/>
        <mapper resource="/persistence/DepotsTableRulesDAO.xml"/>
        <mapper resource="/persistence/SplittingKeyRuleRelationDAO.xml"/>
        <mapper resource="/persistence/AppDAO.xml"/>
    </mappers>
</configuration>
