<h3 class="page-header">集群信息</h3>
<form class="form-horizontal" id="insert-form" role="form" action="../clustergroup/query" method="post">
    <div class="row placeholders">
        <div class="form-group">
            <label for="clusterName" class="col-sm-2 control-label">集群名称</label>

            <div class="col-sm-3">
                <select class="form-control" id="clusterName" name="dbClusterId">
                    <option></option>
                    #if($!dbClusterVOList)
                        #foreach($dbcluster in $!dbClusterVOList)
                            <option value="$!{dbcluster.id}">
                                [$!{dbcluster.id}]$!{dbcluster.clusterName}
                            </option>
                        #end
                    #end
                </select>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-ok" id="queryGroup">
                    查 询
                </button>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="addGlobalGroup"
                        data-toggle="modal" data-target="#myModal">新增全局组
                </button>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="addWorkGroup"
                        data-toggle="modal" data-target="#myModal">新增工作组
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="text-success col-sm-offset-2 col-sm-10" id="handle-message">
                #if( $!{message})
                    $!{message}
                #elseif($!{error})
                    <p class="text-danger glyphicon glyphicon-remove">$!{error}</p>
                #end
            </div>
        </div>

    </div>
    <h3 class="sub-header">关联群组</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>群组名称</th>
                <th>群组类型</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #if($!dbClusterDbGroupRelationServiceDbClusterList&&$!dbClusterDbGroupRelationServiceDbClusterList.size()!=0)
                    #foreach($dbgroup in $!dbClusterDbGroupRelationServiceDbClusterList)
                    <tr>
                        <td>$!{dbgroup.dbGroupId}
                            <input type="hidden" id="id" name="id" value="$!{dbgroup.id}">
                        </td>
                        <td>$!{dbgroup.groupName}</td>
                        <td>$!{dbgroup.groupType}</td>
                        <td>$!{dbgroup.createBy}</td>
                        <td>$!{dbgroup.creationDate}</td>
                        <td>$!{dbgroup.modifiedBy}</td>
                        <td>$!{dbgroup.modificationDate}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" class-data="J-delete">
                                删除
                            </button>
                        </td>
                    </tr>
                    #end
                #else
                <tr>
                    <td colspan="8">暂无数据!</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" id="update-form" role="form" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">数据群组信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="groupName" class="col-sm-2 control-label">群组ID</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="groupId" name="id" value="">
                            <input type="hidden" id="clusterId">
                            <input type="hidden" id="groupType">
                        </div>
                        <label for="groupName" class="col-sm-2 control-label">群组名称</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="groupName" name="groupName" value="">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="searchGroup" class="btn btn-primary glyphicon glyphicon-search">
                                查 询
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>选中</th>
                                <th>id</th>
                                <th>群组名称</th>
                                <th>创建人</th>
                                <th>创建时间</th>
                                <th>修改人</th>
                                <th>修改时间</th>
                            </tr>
                            </thead>
                            <tbody class="J-groupBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <p id="db-update-message" hidden="hidden"></p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                    <button type="button" class="btn btn-primary" id="updateInfo">保 存</button>
                    <button id="res" id="res" type="reset" hidden="hidden"/>
                </div>
            </form>
        </div>
    </div>
</div>
<table hidden="hidden" id="J-copy">
    <tr>
        <td><input type="checkbox" id="addGroupId" name="addGroupId"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<script type="text/javascript">
    var J = jQuery.noConflict();
    J(document).ready(function () {
        J("#clusterName").select2({
            placeholder: "选择一个集群",
            allowClear: true
        });
        J("#clusterName").on("change", function (e) {
            //change {"val":"0","added":{"id":0,"text":"story"},"removed":{"id":1,"text":"bug"}}
            //change {"val":"2","added":{"id":2,"text":"task"},"removed":{"id":0,"text":"story"}}
            //log("change " + JSON.stringify({val: e.val, added: e.added, removed: e.removed}));

        });
        J("#searchGroup").click(function (e) {
            var params = {};
            //拼装数据
            J("#update-form input[type=text],input[type=hidden]").each(function () {
                params[J(this).attr("name")] = J(this).val();
            })
            var clusterId = J("#update-form #clusterId").val();
            J.ajax({
                url: '../clustergroup/queryall.json',
                data: params+"&clusterId="+clusterId,
                type: "POST",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                success: function (data, textStatus, jqXHR) {
                    var error = J.parseJSON(jqXHR.responseText).error;
                    var dbgroup = J.parseJSON(jqXHR.responseText).dbGroupVOList;
                    if (error) {
                        alert(error);
                    } else {
                        showGroup(dbgroup);
                    }
                },
                error: function (xhr, textStatus) {
                    alert('查询信息失败!');
                }
            });
        });
        function showGroup(dbgroup) {
            J(".J-groupBody").children("tr").each(function () {
                J(this).remove();
            })
            var tr = J("#J-copy").find("tr");
            for (i = 0; i < dbgroup.length; i++) {
                tr.find("input").val(dbgroup[i].id);
                tr.children().eq(1).text(dbgroup[i].id);
                tr.children().eq(2).text(dbgroup[i].groupName);
                tr.children().eq(3).text(dbgroup[i].createBy);
                tr.children().eq(4).text(dbgroup[i].creationDate);
                tr.children().eq(5).text(dbgroup[i].modifiedBy);
                tr.children().eq(6).text(dbgroup[i].modificationDate);
                tr.clone().appendTo(J(".J-groupBody"));
            }
        }

        J("#updateInfo").click(function (e) {
            e.preventDefault();
            //拼装数据
            var params = J("#update-form input[type=checkbox]:checked").map(function () {
                return J(this).val();
            }).get();
            if(params.length==0){
                alert("请选中需要保存的群组!");
                return false;
            }
            var clusterId = J("#update-form #clusterId").val();
            var groupType=J("#groupType").val();
            J.ajax({
                url: '../clustergroup/add.json',
                data: "clusterId=" + clusterId + "&groupType="+groupType+"&groupIds=" + params,
                type: "POST",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                success: function (data, textStatus, jqXHR) {
                    var error = J.parseJSON(jqXHR.responseText).error;
                    var dbgroup = J.parseJSON(jqXHR.responseText).dbGroupVOList;
                    if (error) {
                        alert(error);
                    } else {
                        J("#update-form input[type=checkbox]:checked").each(function(e){
                            J(this).parents("tr").remove();
                        });
                        alert("保存信息成功!");
                    }
                },
                error: function (xhr, textStatus) {
                    alert('保存信息失败!');
                }
            });
        });
        //删除信息
        J("#insert-form").on("click", "button[class-data=J-delete]", function (e) {
            e.preventDefault();
            var tr = J(this).parents("tr");
            var dbInfoId = tr.find("#id").val();
            if (confirm("确定要删除该信息?")) {
                J.ajax({
                    url: '../clustergroup/delete.json',
                    data: "id=" + dbInfoId,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    success: function (data, textStatus, jqXHR) {
                        var error = J.parseJSON(jqXHR.responseText).error;
                        var messageObj = J("#handle-message");
                        if (error) {
                            showErrorMessage(messageObj, error);
                        } else {
                            messageObj.text('删除信息成功!');
                            tr.remove();
                        }

                    },
                    error: function (xhr, textStatus) {
                        J("#handle-message").text('删除信息失败!');
                    }
                });
            }
        });
        J("#addGlobalGroup").click(function (e) {
            e.preventDefault();
            if (J("#clusterName").val()) {
                J("#update-form #clusterId").val(J("#clusterName").val());
                J("#myModalLabel").text("新增全局组");
                J("#groupType").val("Global");
                J(".J-groupBody").children("tr").each(function () {
                    J(this).remove();
                })
            } else {
                alert("请先选中一个集群!");
                return false;
            }
        });
        J("#addWorkGroup").click(function (e) {
            e.preventDefault();
            if (J("#clusterName").val()) {
                J("#update-form #clusterId").val(J("#clusterName").val());
                J("#myModalLabel").text("新增工具组");
                J("#groupType").val("Work");
                J(".J-groupBody").children("tr").each(function () {
                    J(this).remove();
                })
            } else {
                alert("请先选中一个集群!");
                return false;
            }
        });
        //展示错误信息
        function showErrorMessage(obj, message) {
            obj.text(message);
            obj.addClass("text-danger glyphicon glyphicon-remove");
        }
    });
</script>