<h3 class="page-header">查询数据源信息</h3>
<form class="form-horizontal" id="insert-form" role="form" action="../datasource/query" method="post">
    <div class="row placeholders">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">数据源ID</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="id" name="id" value="$!{dataSourceVO.id}">
            </div>
            <label for="name" class="col-sm-1 control-label">名称</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="name" name="name" value="$!{dataSourceVO.name}">
            </div>

            <label for="userName" class="col-sm-1 control-label">用户名</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="userName" name="userName" value="$!{dataSourceVO.userName}">
            </div>
        </div>
        <div class="form-group">
            <div class="text-success col-sm-offset-2 col-sm-10" id="group-handle-message">
                #if( $!{message})
                    $!{message}
                #elseif($!{error})
                    <p class="text-danger glyphicon glyphicon-remove">$!{error}</p>
                #end
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search" id="queryDb">查 询</button>
                <button type="reset" class="btn btn-primary glyphicon glyphicon-ok" id="addDb">重 置</button>
            </div>
        </div>
    </div>
    <h3 class="sub-header">现有数据源</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>数据源名称</th>
                <th>用户名</th>
                <th>密码</th>
                <th>最大连接数</th>
                <th>最小连接数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #if($!dataSourceVOList&&$!dataSourceVOList.size()!=0)
                    #foreach($datasource in $!dataSourceVOList)
                    <tr>
                        <td>$!{datasource.id}</td>
                        <td>$!{datasource.name}</td>
                        <td>$!{datasource.userName}</td>
                        <td>$!{datasource.passWord}</td>
                        <td>$!{datasource.maxConnections}</td>
                        <td>$!{datasource.minConnections}</td>
                        <td>
                            <button class-data="J-edit" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#myModal">
                                详情
                            </button>
                            <button class-data="J-delete" class="btn btn-danger btn-sm">
                                删除
                            </button>
                        </td>
                    </tr>
                    #end
                #else
                <tr>
                    <td colspan="8">暂无数据!</td>
                </tr>
                #end
            </tbody>
        </table>
        <div class="row placeholders">
            <input type="hidden" name="page" id="page" value="$!{page}">
            #parse("/layout/pager.vm")
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">数据源信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="update-form" role="form" action="" method="post">
                    <div class="form-group">
                        <label for="detail-id" class="col-sm-2 control-label">ID:</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="detail-id" name="id" disabled>
                        </div>
                        <label for="name" class="col-sm-1 control-label">名称</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="detail-name" name="name"
                                   value="$!{dataSourceVO.name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="driver" class="col-sm-2 control-label">驱动</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="detail-driver" name="driver"
                                   value="$!{dataSourceVO.driver}">
                        </div>
                        <label for="maxConnections" class="col-sm-2 control-label">最大连接数</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-maxConnections" name="maxConnections"
                                   value="$!{dataSourceVO.maxConnections}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">连接URL</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="detail-url" name="url"
                                   value="$!{dataSourceVO.url}">
                        </div>
                        <label for="minConnections" class="col-sm-2 control-label">最小连接数</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-minConnections" name="minConnections"
                                   value="$!{dataSourceVO.minConnections}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label">用户名</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="detail-userName" name="userName"
                                   value="$!{dataSourceVO.userName}">
                        </div>
                        <label for="passWord" class="col-sm-2 control-label">密码</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="detail-passWord" name="passWord"
                                   value="$!{dataSourceVO.passWord}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verbose" class="col-sm-3 control-label">记录其他信息</label>

                        <div class="col-sm-3">
                            <select class="form-control" id="detail-verbose" name="verbose"
                                    value="$!{dataSourceVO.verbose}">
                                <option value="">请选择</option>
                                <option value="true" #if(${dataSourceVO.verbose}=="true") selected #end>是
                                </option>
                                <option value="false" #if(${dataSourceVO.verbose}=="false") selected #end>否
                                </option>
                            </select>
                        </div>
                        <label for="printSql" class="col-sm-3 control-label">记录Sql执行信息</label>

                        <div class="col-sm-3">
                            <select class="form-control" id="detail-printSql" name="printSql"
                                    value="$!{dataSourceVO.printSql}">
                                <option value="">请选择</option>
                                <option value="true" #if(${dataSourceVO.printSql}=="true") selected #end>是
                                </option>
                                <option value="false" #if(${dataSourceVO.printSql}=="false") selected #end>否
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkoutTimeoutMilliSec" class="col-sm-3 control-label">等待超时时间</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-checkoutTimeoutMilliSec"
                                   name="checkoutTimeoutMilliSec" value="$!{dataSourceVO.checkoutTimeoutMilliSec}">
                        </div>
                        <label for="idleTimeoutSec" class="col-sm-4 control-label">连接最大空闲时间</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-idleTimeoutSec" name="idleTimeoutSec"
                                   value="$!{dataSourceVO.idleTimeoutSec}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="maxStatements" class="col-sm-3 control-label">池中最大普通语句数</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-maxStatements" name="maxStatements"
                                   value="$!{dataSourceVO.maxStatements}">
                        </div>
                        <label for="maxPreStatements" class="col-sm-4 control-label">池中最大预编译语句数</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-maxPreStatements" name="maxPreStatements"
                                   value="$!{dataSourceVO.maxPreStatements}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="connectionInfo" class="col-sm-2 control-label">驱动支持的其他参数</label>

                        <div class="col-sm-4">
                            <textarea class="form-control" rows="5" class="form-control" id="detail-connectionInfo"
                                      name="connectionInfo">$!{dataSourceVO.connectionInfo}</textarea>
                        </div>
                        <label for="checkStatement" class="col-sm-2 control-label">检测连接是否可用的查询语句</label>

                        <div class="col-sm-4">
                            <textarea class="form-control" rows="5" cclass="form-control" id="detail-checkStatement"
                                      name="checkStatement">$!{dataSourceVO.checkStatement}</textarea>
                        </div>
                    </div>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="detail-createBy" class="col-sm-2 control-label">创建人:</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="detail-createBy" name="createBy">
                            </div>
                            <label for="detail-creationDate" class="col-sm-2 control-label">创建时间:</label>

                            <div class="col-sm-4">
                                <input type="datetime" class="form-control" id="detail-creationDate"
                                       name="creationDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail-modifiedBy" class="col-sm-2 control-label">更新人:</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="detail-modifiedBy" name="modifiedBy">
                            </div>
                            <label for="detail-modificationDate" class="col-sm-2 control-label">更新时间:</label>

                            <div class="col-sm-4">
                                <input type="datetime" class="form-control" id="detail-modificationDate"
                                       name="modificationDate">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <p id="db-update-message" hidden="hidden"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                <button type="button" class="btn btn-primary" id="updateInfo">更 新</button>
                <button id="res" id="res" type="reset" hidden="hidden"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var J = jQuery.noConflict();
    J(document).ready(function () {
        //绑定操作的方法 展示详情信息
        J("#insert-form").on("click", "button[class-data=J-edit]", function (e) {
            e.preventDefault();
            resetForm();
            var dbInfoId = J(this).parents("tr").children().eq(0).text();
            J.ajax({
                type: "POST",
                url: "../datasource/showDetail.json",
                data: "id=" + dbInfoId,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    //设置信息
                    putInfo(jqXHR, "false");
                },
                error: function (xhr, textStatus, errorThrown) {
                    var message = J("#db-update-message");
                    showErrorMessage(message, xhr);
                }
            });
        });
        //设置返回的数据库信息
        function putInfo(jqXHR, isUpdate) {
            var dataSourceVO = J.parseJSON(jqXHR.responseText).dataSourceVO;
            var error = J.parseJSON(jqXHR.responseText).error;
            var messageObj = J("#db-update-message");
            if (error) {
                showErrorMessage(messageObj, error);
            } else {
                J("#detail-id").val(dataSourceVO.id);
                J("#detail-name").val(dataSourceVO.name);
                J("#detail-driver").val(dataSourceVO.driver);
                J("#detail-maxConnections").val(dataSourceVO.maxConnections);
                J("#detail-url").val(dataSourceVO.url);
                J("#detail-minConnections").val(dataSourceVO.minConnections);
                J("#detail-userName").val(dataSourceVO.userName);
                J("#detail-passWord").val(dataSourceVO.passWord);
                J("#detail-verbose").val(dataSourceVO.verbose);
                J("#detail-printSql").val(dataSourceVO.printSql);
                J("#detail-checkoutTimeoutMilliSec").val(dataSourceVO.checkoutTimeoutMilliSec);
                J("#detail-idleTimeoutSec").val(dataSourceVO.idleTimeoutSec);
                J("#detail-maxStatements").val(dataSourceVO.maxStatements);
                J("#detail-maxPreStatements").val(dataSourceVO.maxPreStatements);
                J("#detail-connectionInfo").val(dataSourceVO.connectionInfo);
                J("#detail-checkStatement").val(dataSourceVO.checkStatement);
                J("#detail-createBy").val(dataSourceVO.createBy);
                J("#detail-creationDate").val(dataSourceVO.creationDate);
                J("#detail-modifiedBy").val(dataSourceVO.modifiedBy);
                J("#detail-modificationDate").val(dataSourceVO.modificationDate);
                if (isUpdate == "true") {
                    messageObj.text("保存信息成功!");
                }
            }
            messageObj.show();
        };
        //更新数据库信息
        J("#updateInfo").click(function (e) {
            e.preventDefault();
            var params = {};
            //拼装数据
            J("#update-form").find("select,input[type=text],input[type=datetime]").each(function (index) {
                params[J(this).attr("name")] = J(this).val();
            })
            J.ajax({
                type: "POST",
                url: "../datasource/update.json",
                data: params,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    //设置信息
                    putInfo(jqXHR, "true");
                },
                error: function (xhr, textStatus, errorThrown) {
                    var message = J("#db-update-message");
                    showErrorMessage(message, xhr);
                }
            });
        });
        //删除数据库信息
        J("#insert-form").on("click", "button[class-data=J-delete]", function (e) {
            e.preventDefault();
            var tr = J(this).parents("tr");
            var dbInfoId = tr.children().eq(0).text();
            if (confirm("确定要删除该条信息?")) {
                J.ajax({
                    url: '../datasource/delete.json',
                    data: "id=" + dbInfoId,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    success: function (data, textStatus, jqXHR) {
                        var error = J.parseJSON(jqXHR.responseText).error;
                        var messageObj = J("#db-handle-message");
                        if (error) {
                            showErrorMessage(messageObj, error);
                        } else {
                            messageObj.text('删除信息成功!');
                            tr.remove();
                        }

                    },
                    error: function (xhr, textStatus) {
                        J("#db-handle-message").text('删除信息失败!');
                    }
                });

            }
        });
        //清空表单信息
        function resetForm() {
            J("#db-update-message").text("");
            J("#db-update-message").removeClass("text-danger glyphicon glyphicon-remove");
            J("#res").click();
        }

        //展示错误信息
        function showErrorMessage(obj, message) {
            obj.html(message);
            obj.addClass("text-danger glyphicon glyphicon-remove");
        }
    });
</script>