<h3 class="page-header">新增数据库集群信息</h3>
<form class="form-horizontal" id="insert-form" role="form" action="../dbcluster/query" method="post">
    <div class="row placeholders">
        <div class="form-group">
            <label for="clusterName" class="col-sm-2 control-label">集群名称</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="clusterName" name="clusterName" value="$!{dbClusterVO.clusterName}">
            </div>

            <div class="col-sm-3">
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="addCluster">新 增</button>
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查 询</button>
            </div>
        </div>
        <div class="form-group">
            <div class="text-success col-sm-offset-2 col-sm-10" id="cluster-handle-message">
                #if( $!{message})
                    $!{message}
                #elseif($!{error})
                    <p class="text-danger glyphicon glyphicon-remove">$!{error}</p>
                #end
            </div>
        </div>

    </div>
    <h3 class="sub-header">现有集群</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>集群名称</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #if($!dbClusterVOList&&$!dbClusterVOList.size()!=0)
                    #foreach($dbcluster in $!dbClusterVOList)
                    <tr>
                        <td>$!{dbcluster.id}
                            <input type="hidden" id="id" name="id" value="$!{dbcluster.id}">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="clusterName" name="clusterName" disabled
                                   value="$!{dbcluster.clusterName}">
                        </td>
                        <td>$!{dbcluster.createBy}</td>
                        <td>$!{dbcluster.creationDate}</td>
                        <td>$!{dbcluster.modifiedBy}</td>
                        <td>$!{dbcluster.modificationDate}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" class-data="J-edit">
                                编辑
                            </button>
                            <button class="btn btn-success btn-sm" class-data="J-updateSubmit">
                                更新
                            </button>
                            <button class="btn btn-danger btn-sm" class-data="J-deleteSubmit">
                                删除
                            </button>
                        </td>
                    </tr>
                    #end
                #else
                <tr>
                    <td colspan="8">暂无数据!</td>
                </tr>
                #end
            </tbody>
        </table>
        <div class="row placeholders">
            <input type="hidden" name="page" id="page" value="$!{page}">
            #parse("/layout/pager.vm")
        </div>
    </div>
</form>
<script type="text/javascript">
    var J = jQuery.noConflict();
    J(document).ready(function () {
        J("button[class-data=J-updateSubmit],button[class-data=J-deleteSubmit]").each(function (e) {
            J(this).hide();
        });
        //新增信息
        J('#addCluster').click(function (e) {
            e.preventDefault();
            J("#insert-form").attr("action", "../dbcluster/add")
            J("#insert-form").submit();
        });
        //绑定操作的方法 展示更新
        J("#insert-form").on("click", "button[class-data=J-edit]", function (e) {
            e.preventDefault();
            J(this).parents("tr").find("input[type=text]").prop("disabled", false);
            J(this).parents("tr").find("button[class-data=J-updateSubmit],button[class-data=J-deleteSubmit]").show();
            J(this).hide();
        });
        //提交更新信息,展示更新结果
        J("#insert-form").on("click", "button[class-data=J-updateSubmit]", function (e) {
            //定位到当前按钮
            var obj=J(this);
            e.preventDefault();
            var params = {};
            //拼装数据
            J(this).parents("tr").find("input[type=text],input[type=hidden]").each(function () {
                params[J(this).attr("name")] = J(this).val();
            })
            J.ajax({
                type: "POST",
                url: "../dbcluster/update.json",
                data: params,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    var dbcluster = J.parseJSON(jqXHR.responseText).dbClusterVO;
                    var error = J.parseJSON(jqXHR.responseText).error;
                    var messageObj = J("#cluster-handle-message");
                    if (error) {
                        showErrorMessage(messageObj, error);
                    } else {
                        obj.parents("tr").children().eq(4).text(dbcluster.modifiedBy);
                        obj.parents("tr").children().eq(5).text(dbcluster.modificationDate);
                        obj.parents("tr").find("button[class-data=J-edit]").show();
                        obj.parents("tr").find("input[type=text]").prop("disabled", true);
                        obj.parents("tr").find("button[class-data=J-updateSubmit],button[class-data=J-deleteSubmit]").hide();
                        messageObj.text("保存信息成功!");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    var message = J("#cluster-handle-message");
                    showErrorMessage(message, xhr);
                }
            });
        });
        //删除信息
        J("#insert-form").on("click", "button[class-data=J-deleteSubmit]", function (e) {
            e.preventDefault();
            var tr = J(this).parents("tr");
            var dbgroupId = tr.children().eq(0).text();
            if (confirm("确定要删除该条信息?")) {
                J.ajax({
                    url: '../dbcluster/delete.json',
                    data: "id=" + dbgroupId,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    success: function (data, textStatus, jqXHR) {
                        var error = J.parseJSON(jqXHR.responseText).error;
                        var messageObj = J("#cluster-handle-message");
                        if (error) {
                            showErrorMessage(messageObj, error);
                        } else {
                            messageObj.text('删除信息成功!');
                            tr.remove();
                        }
                    },
                    error: function (xhr, textStatus) {
                        J("#cluster-handle-message").text('删除信息失败!');
                    }
                });

            }
        });
        //展示错误信息
        function showErrorMessage(obj, message) {
            obj.text(message);
            obj.addClass("text-danger glyphicon glyphicon-remove");
        }
    });
</script>