<h3 class="page-header">新增分库分表规则</h3>
<form class="form-horizontal" id="insert-form" role="form" action="../depotsTableRules/query" method="post">
    <div class="row placeholders">
        <div class="form-group">
            <label for="ruleType" class="col-sm-2 control-label">规则类型</label>

            <div class="col-sm-3">
                <select class="form-control" id="ruleType" name="ruleType" value="$!{depotsTableRulesVO.ruleType}">
                    <option value="">请选择</option>
                    <option value="hash" #if(${depotsTableRulesVO.ruleType}=="hash") selected #end>哈希</option>
                    <option value="range" #if(${depotsTableRulesVO.ruleType}=="range") selected #end>范围</option>
                </select>
            </div>
            <label for="dbGroupId" class="col-sm-2 control-label">关联群组</label>

            <div class="col-sm-2">
                <select class="form-control" id="dbGroupId" name="dbGroupId" value="$!{depotsTableRulesVO.dbGroupId}">
                    <option></option>
                    #if($!dbGroupVOList)
                        #foreach($dbgroup in $!dbGroupVOList)
                            <option value="$!{dbgroup.id}"  #if(${depotsTableRulesVO.dbGroupId}==$!{dbgroup.id})
                                    selected #end>
                                [$!{dbgroup.id}] $!{dbgroup.groupName}
                            </option>
                        #end
                    #end
                </select>
            </div>
            <label for="tableSuffix" class="col-sm-1 control-label">表后缀</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="tableSuffix" name="tableSuffix"
                       value="$!{depotsTableRulesVO.tableSuffix}">
            </div>
        </div>
        <div class="form-group J-range" #if(${depotsTableRulesVO.ruleType}!="range")hidden="hidden"#end>
            <label for="upperLimit" class="col-sm-2 control-label">规则上限</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="upperLimit" name="upperLimit" placeholder="0"
                       value="$!{depotsTableRulesVO.upperLimit}">
            </div>
            <label for="lowerLimit" class="col-sm-2 control-label">规则下限</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="lowerLimit" name="lowerLimit" placeholder="10000"
                       value="$!{depotsTableRulesVO.lowerLimit}">
            </div>
            <label for="" class="sr-only col-sm-1 control-label"></label>

            <div class="col-sm-2 sr-only">
            </div>
        </div>
        <div class="form-group J-hash" #if(${depotsTableRulesVO.ruleType}!="hash") hidden="hidden"#end>
            <label for="hashValue" class="col-sm-2 control-label">哈希值</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="hashValue" name="hashValue" placeholder="1"
                       value="$!{depotsTableRulesVO.hashValue}">
            </div>
            <label for="dbType" class="sr-only col-sm-2 control-label"></label>

            <div class="sr-only col-sm-2">

            </div>
            <label for="" class="sr-only col-sm-1 control-label"></label>

            <div class="col-sm-2 sr-only">
            </div>
        </div>
        <div class="form-group">
            <div class="text-success col-sm-offset-2 col-sm-10" id="handle-message">
                #if( $!{message})
                    $!{message}
                #elseif($!{error})
                    <p class="text-danger glyphicon glyphicon-remove">$!{error}</p>
                #end
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="addRule">新 增</button>
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search" id="queryRule">查 询</button>
            </div>
        </div>

    </div>
    <h3 class="sub-header">现有数据库</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>规则类型</th>
                <th>关联群组</th>
                <th>表后缀</th>
                <th>规则上限</th>
                <th>规则下限</th>
                <th>哈希值</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #if($!depotsTableRulesVOList&&$!depotsTableRulesVOList.size()!=0)
                    #foreach($rule in $!depotsTableRulesVOList)
                    <tr>
                        <td>$!{rule.id}</td>
                        <td>
                            #if(${rule.ruleType}=="hash") 哈希 #end
                            #if(${rule.ruleType}=="range") 范围 #end
                        </td>
                        <td>$!{rule.dbGroupId}</td>
                        <td>$!{rule.tableSuffix}</td>
                        <td>$!{rule.upperLimit}</td>
                        <td>$!{rule.lowerLimit}</td>
                        <td>$!{rule.hashValue}</td>
                        <td>
                            <button class-data="J-edit" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#myModal">
                                详情
                            </button>
                            <button class-data="J-delete" class="btn btn-danger btn-sm">
                                删除
                            </button>
                        </td>
                    </tr>
                    #end
                #else
                <tr>
                    <td colspan="8">暂无数据!</td>
                </tr>
                #end
            </tbody>
        </table>
        <div class="row placeholders">
            <input type="hidden" name="page" id="page" value="$!{page}">
            #parse("/layout/pager.vm")
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">分库分表规则详情信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="update-form" role="form" action="" method="post">
                    <div class="form-group">
                        <label for="detail-ruleType" class="col-sm-3 control-label">规则ID:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="detail-id" name="id"">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail-ruleType" class="col-sm-3 control-label">规则类型:</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="detail-ruleType" name="ruleType"
                                    value="$!{depotsTableRulesVO.ruleType}">
                                <option value="">请选择</option>
                                <option value="hash" #if(${depotsTableRulesVO.ruleType}=="hash") selected #end>哈希
                                </option>
                                <option value="range" #if(${depotsTableRulesVO.ruleType}=="range") selected #end>范围
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail-dbGroupId" class="col-sm-3 control-label">群组ID:</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="detail-dbGroupId" name="dbGroupId">
                                <option></option>
                                #if($!dbGroupVOList)
                                    #foreach($dbgroup in $!dbGroupVOList)
                                        <option value="$!{dbgroup.id}">
                                            [$!{dbgroup.id}] $!{dbgroup.groupName}
                                        </option>
                                    #end
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail-tableSuffix" class="col-sm-3 control-label">表后缀</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="detail-tableSuffix" name="tableSuffix"">
                        </div>
                    </div>
                    <div class="form-group J-range" hidden="hidden">
                        <label for="detail-upperLimit" class="col-sm-3 control-label">规则上限</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="detail-upperLimit" name="upperLimit">
                        </div>
                        <label for="detail-lowerLimit" class="col-sm-3 control-label">规则下限</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="detail-lowerLimit" name="lowerLimit">
                        </div>
                    </div>
                    <div class="form-group J-hash" hidden="hidden">
                        <label for="detail-hashValue" class="col-sm-3 control-label">哈希值</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="detail-hashValue" name="hashValue">
                        </div>
                    </div>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="detail-createBy" class="col-sm-3 control-label">创建人:</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="detail-createBy" name="createBy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail-creationDate" class="col-sm-3 control-label">创建时间:</label>

                            <div class="col-sm-6">
                                <input type="datetime" class="form-control" id="detail-creationDate"
                                       name="creationDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail-modifiedBy" class="col-sm-3 control-label">更新人:</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="detail-modifiedBy" name="modifiedBy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail-modificationDate" class="col-sm-3 control-label">更新时间:</label>

                            <div class="col-sm-6">
                                <input type="datetime" class="form-control" id="detail-modificationDate"
                                       name="modificationDate">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <p id="db-update-message" hidden="hidden"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                <button type="button" class="btn btn-primary" id="updateInfo">更 新</button>
                <button id="res" id="res" type="reset" hidden="hidden"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var J = jQuery.noConflict();
    J(document).ready(function () {
        J("#dbGroupId,#detail-dbGroupId").select2({
            placeholder: "选择一个群组",
            allowClear: true
        });
        J("#detail-ruleType").change(function (e) {
            if (J(this).val() == "hash") {
                J("#update-form .J-hash").show();
                J("#update-form .J-range").hide();
            } else if (J(this).val() == "range") {
                J("#update-form .J-hash").hide();
                J("#update-form .J-range").show();
            } else {
                J("#update-form .J-hash").hide();
                J("#update-form .J-range").hide();
            }
//            J("#upperLimit").val("");
//            J("#lowerLimit").val("");
//            J("#hashValue").val("");
        });
        J("#ruleType").change(function (e) {
            if (J(this).val() == "hash") {
                J("#insert-form .J-hash").show();
                J("#insert-form .J-range").hide();
            } else if (J(this).val() == "range") {
                J("#insert-form .J-hash").hide();
                J("#insert-form .J-range").show();
            } else {
                J("#insert-form .J-hash").hide();
                J("#insert-form .J-range").hide();
            }
//            J("#upperLimit").val("");
//            J("#lowerLimit").val("");
//            J("#hashValue").val("");
        });
        //新增分库分表规则
        J("#addRule").click(function (e) {
            e.preventDefault();
            J("#insert-form").attr("action", "../depotsTableRules/add")
            J("#insert-form").submit();
        });
        //绑定操作的方法 展示详情信息
        J("#insert-form").on("click", "button[class-data=J-edit]", function (e) {
            e.preventDefault();
            resetForm();
            var dbInfoId = J(this).parents("tr").children().eq(0).text();
            J.ajax({
                type: "POST",
                url: "../depotsTableRules/showDetail.json",
                data: "id=" + dbInfoId,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    //设置信息
                    putInfo(jqXHR, "false");
                },
                error: function (xhr, textStatus, errorThrown) {
                    var message = J("#db-update-message");
                    showErrorMessage(message, xhr);
                }
            });
        });
        //设置返回的分库分表规则
        function putInfo(jqXHR, isUpdate) {
            var rule = J.parseJSON(jqXHR.responseText).depotsTableRulesVO;
            var error = J.parseJSON(jqXHR.responseText).error;
            var messageObj = J("#db-update-message");
            if (error) {
                showErrorMessage(messageObj, error);
            } else {
                J("#detail-id").val(rule.id);
                J("#detail-ruleType").val(rule.ruleType);
                if (rule.ruleType == "hash") {
                    J("#update-form .J-hash").show();
                }
                if (rule.ruleType == "range") {
                    J("#update-form .J-range").show();
                }
                J("#detail-dbGroupId").val(rule.dbGroupId);
                J("#detail-dbGroupId").select2("val", rule.dbGroupId);
                J("#detail-tableSuffix").val(rule.tableSuffix);
                J("#detail-upperLimit").val(rule.upperLimit);
                J("#detail-lowerLimit").val(rule.lowerLimit);
                J("#detail-hashValue").val(rule.hashValue);
                J("#detail-createBy").val(rule.createBy);
                J("#detail-creationDate").val(rule.creationDate);
                J("#detail-modifiedBy").val(rule.modifiedBy);
                J("#detail-modificationDate").val(rule.modificationDate);
                if (isUpdate == "true") {
                    messageObj.text("保存信息成功!");
                }
            }
            messageObj.show();
        };
        //更新分库分表规则
        J("#updateInfo").click(function (e) {
            e.preventDefault();
            var params = {};
            //拼装数据
            J("#update-form").find("select,input[type=text],input[type=datetime]").each(function (index) {
                params[J(this).attr("name")] = J(this).val();
            })
            J.ajax({
                type: "POST",
                url: "../depotsTableRules/update.json",
                data: params,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    //设置信息
                    putInfo(jqXHR, "true");
                },
                error: function (xhr, textStatus, errorThrown) {
                    var message = J("#db-update-message");
                    showErrorMessage(message, xhr);
                }
            });
        });
        //删除分库分表规则
        J("#insert-form").on("click", "button[class-data=J-delete]", function (e) {
            e.preventDefault();
            var tr = J(this).parents("tr");
            var dbInfoId = tr.children().eq(0).text();
            if (confirm("确定要删除该条信息?")) {
                J.ajax({
                    url: '../depotsTableRules/delete.json',
                    data: "id=" + dbInfoId,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    success: function (data, textStatus, jqXHR) {
                        var error = J.parseJSON(jqXHR.responseText).error;
                        var messageObj = J("#handle-message");
                        if (error) {
                            showErrorMessage(messageObj, error);
                        } else {
                            messageObj.text('删除信息成功!');
                            tr.remove();
                        }

                    },
                    error: function (xhr, textStatus) {
                        J("#handle-message").text('删除信息失败!');
                    }
                });

            }
        });
        //清空表单信息
        function resetForm() {
            J("#db-update-message").text("");
            J("#db-update-message").removeClass("text-danger glyphicon glyphicon-remove");
            J("#res").click();
        }

        //展示错误信息
        function showErrorMessage(obj, message) {
            obj.html(message);
            obj.addClass("text-danger glyphicon glyphicon-remove");
        }
    });
</script>