<div class="row">
    <input type="hidden" id="id"/>
    <div class="col-sm-3">
        <div class="form-group">
            <button type="button" class="btn btn-success btn-sm" onclick="department_create()"><i
                    class="glyphicon glyphicon-asterisk"></i> Create
            </button>
            <button type="button" class="btn btn-warning btn-sm" onclick="department_rename()"><i
                    class="glyphicon glyphicon-pencil"></i> Rename
            </button>
            <button type="button" class="btn btn-danger btn-sm" onclick="department_delete()"><i
                    class="glyphicon glyphicon-remove"></i> Delete
            </button>
        </div>
        <div class="form-group">
            <input type="text" id="search" placeholder="Search"/>
        </div>
        <div class="form-group">
            <div id="jstree_div"></div>
        </div>
    </div>
    <div class="col-sm-9" >
        <input type="hidden" id="departmentId"/>
        根目录:<input name="name" id="name">
        <button type="button" class="btn btn-success btn-sm" onclick="addCategory()"><i class="glyphicon glyphicon-asterisk"></i> 创 建
        </button>
        <span class="text-success" id="handle-message"></span>
    </div>
</div>
<script type="text/javascript">
    var J = jQuery.noConflict();
    function addCategory() {
        var name = J("#name").val();
        if(name==''){
            alert("根目录名称不能为空!");
            return;
        }
        J.ajax({
            type: "POST",
            url: "../resourceCategory/add/0/" + name,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                J("#handle-message").text("增加根目录成功");

            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    };
    function department_create() {
        var ref = J("#jstree_div").jstree(true),
                sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        sel = ref.create_node(sel, {"type": "file"});
        if (sel) {
            ref.edit(sel);
        }
    }
    function department_rename() {
        var ref = J("#jstree_div").jstree(true)
        var sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        if(sel==0){
            alert("禁止修改该目录!");
            return ;
        }
        ref.edit(sel);
    }
    function department_delete() {
        var ref = J("#jstree_div").jstree(true),
                sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        if(sel==0){
            alert("禁止删除该目录!");
            return ;
        }
        ref.delete_node(sel);
    }
    J(document).ready(function () {
        J("#jstree_div").jstree({
            "core": {
                "animation": 0,
                "check_callback": function (operation, node, node_parent, node_position, more) {
                    // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                    // in case of 'rename_node' node_position is filled with the new node name
                    if(operation=='rename_node'){
                        return true;
                    }
                    if(operation=='delete_node'&& !confirm("你确定要删除该节点么?")){
                        return false;
                    }else{
                        if(node.children==null){
                            return true;
                        }
                        var childrenLength=node.children.length
                        if(childrenLength!=0){
                            alert("该类目有子类目无法删除!");
                            return false;
                        }
                    }
                    return true;
                },
                "themes": { "stripes": true },
                "data": {
                    url: "/resourceCategory/showJson",//每次获得数据从这个链接
                    async: true,//动态加载数据
                    async_data: function (NODE) {//请求数据时带的参数列表，可通过getParameter获得。
                        return {parent_Id: J(NODE).attr("id") || 0}
                    }
                },
            },
            "plugins": [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ]
        });
        J("#jstree_div").on("changed.jstree", function (e, data) {

        });
        J("#jstree_div").on("create_node.jstree", function (e, data, position) {
            var parentId = data.node.parent;
            var departmentName = data.node.text;
            J.ajax({
                type: "POST",
                url: "../resourceCategory/add/" + parentId + "/" + departmentName,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        });
        J("#jstree_div").on("rename_node.jstree", function (e, data, old) {
            var id = data.node.id;
            if(id==0){
                alert("禁止修改该目录!");
                return ;
            }
            var departmentName = data.node.text;
            J.ajax({
                type: "POST",
                url: "../resourceCategory/update/" + id + "/" + departmentName,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        });
        J("#jstree_div").on("delete_node.jstree", function (e, data) {
            var id = data.node.id;
            if(id==0){
                alert("禁止删除该目录!");
                return ;
            }
            J.ajax({
                type: "POST",
                url: "../resourceCategory/delete/" + id ,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        });
        //查询框
        var to = false;
        J('#search').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = J('#search').val();
                J('#jstree_div').jstree(true).search(v);
            }, 250);
        });
    });
</script>