<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 	<!-- Spring MVC配置 -->
	<!-- ====================================== -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>spring</servlet-name>
       <!-- <url-pattern>*.do</url-pattern>-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Spring配置 -->
	<!-- ====================================== -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

    <!-- log4j -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>6000</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>
    <!-- 乱码解决 -->
    <filter>
        <filter-name>Character Encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--&lt;!&ndash; 单点过滤器 &ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>loginFilter</filter-name>-->
        <!--<filter-class>com.wangyin.ssoclient.sso.filter.LoginFilter</filter-class>-->
    <!--</filter>-->
    <!--&lt;!&ndash; 权限过滤器 &ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>authorityFilter</filter-name>-->
        <!--<filter-class>com.wangyin.ssoclient.sso.filter.AuthorityFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>loginFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
        <!--<filter-name>authorityFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<listener>-->
        <!--<listener-class>com.wangyin.ssoclient.sso.listener.SsoSessionListener</listener-class>-->
    <!--</listener>-->
    <!--&lt;!&ndash; 登出 &ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>LogoutServlet</servlet-name>-->
        <!--<servlet-class>com.wangyin.ssoclient.sso.servlet.LogoutServlet</servlet-class>-->
    <!--</servlet>-->
    <!--&lt;!&ndash; 登出结果通知，单点登出内部使用 &ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>logoutInvoke</servlet-name>-->
        <!--<servlet-class>com.wangyin.ssoclient.sso.servlet.LogoutInvokeServlet</servlet-class>-->
    <!--</servlet>-->

    <!--&lt;!&ndash;请将系统的登出链接指向到此链接&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LogoutServlet</servlet-name>-->
        <!--<url-pattern>/logout</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>logoutInvoke</servlet-name>-->
        <!--<url-pattern>/logoutInvoke</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
